<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Clan of Outdoorer</title>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">



   <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>

<body>

   <div class="container-fluid">
      <nav class="navbar navbar-default" id="main-navbar">
         <div class="container-fluid">

            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-items" aria-expanded="false" id="main-expand-icon">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>

            <a class="pull-left no-decoration" href="/">
               <h1>Clan of Outdoorer</h1>
            </a>
            </div>

            <div class="navbar-collapse collapse" id="main-navbar-items">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="/">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="main-navbar-hide"><a href="#">About</a></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-doggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Mountain Biking</a></li>
                        <li><a href="#">Snow Sports</a></li>
                        <li><a href="#">Rock Climbing</a></li>
                     </ul>
                  </li>
               </ul>

               <ul class="nav navbar-nav main-navbar-login">

                  {% if 'username' not in session %}
                     <li><a href="#">Sign In</a></li>
                     <li><a href="#">Log In</a></li>
                  {% else %}
                     <li><a href="#">Hi, {{session[username]}}!</a></li>
                     <li><a href="#">Log Out</a></li>
                  {% endif %}
               </ul>
            </div>

         </div>
      </nav>
   </div>


   {% block mainbody %}
   {% endblock %}


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>




