<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Clan of Outdoorer</title>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

   {% block mainheader %}
   {% endblock %}


   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">



   <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>

<body>

   {% block mainbodytop %}
   {% endblock %}

   <div class="container-fluid no-lr-padding">
      <nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
         <div class="container-fluid">

            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-items" aria-expanded="false" id="main-expand-icon">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>

            <a class="pull-left no-decoration" href="/">
               <h1 id="main-nav-title">Clan of Outdoorer</h1>
            </a>
            </div>

            <div class="navbar-collapse collapse" id="main-navbar-items">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="/">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="main-navbar-hide"><a href="#main-footer">Contact</a></li>
                  <li class="dropdown">
                     <a href="/allcategories" aria-haspopup="true" aria-expanded="false">Category <span class="caret main-nav-caret"></span></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Hiking</a></li>
                        <li><a href="#">Mountain Biking</a></li>
                        <li><a href="#">Snow Sports</a></li>
                        <li><a href="#">Rock Climbing</a></li>
                        <li><a href="#">Kayaking</a></li>
                        <li><a href="#">Backpacking</a></li>
                        <li><a href="#">Diving</a></li>
                        <li><a href="#">Skydiving</a></li>
                        <li><a href="#">Fishing</a></li>
                     </ul>
                  </li>
               </ul>

               <ul class="nav navbar-nav main-navbar-login">

                  {% if 'name' not in session %}
                     <li><a href="/signup">Sign Up</a></li>
                     <li><a href="/login">Log In</a></li>
                  {% else %}
                     <li class="main-nav-caret"><a href="#">Hi, {{session['name']}}!</a></li>
                     <li><a href="/logout">Log Out</a></li>
                  {% endif %}
               </ul>
            </div>

         </div>
      </nav>
   </div>

   <div class="container" id="main-nav-placeholder"></div>


   {% block mainbody %}
   {% endblock %}


   <footer>
      <div class="container" id="main-footer">
         <br>
         <hr>
         <br>
         <a href="https://www.linkedin.com/in/nengyun-zhang">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
         </a>
         <a href="https://github.com/canigithub">
            <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
         </a>

         <a href="https://plus.google.com/111446758210379849193">
            <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
         </a>

         <a href="https://www.facebook.com/nengyun.zhang.562">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
         </a>

         <br>
         <br>
         <p>This Website is Designed and Implemented by Nengyun Zhang.</p>
         <p>&copy; 2016 Nengyun Zhang</p>
      </div>
   </footer>

   {% block mainfooter %}
   {% endblock %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!-- <div class = 'flash'>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
               <ul>
                  {% for message in messages %}
                     <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
               </ul>
            {% endif %}
         {% endwith %}
      </div> -->

</body>
</html>




