{% extends "base.html" %}

{% block mainbody %}

   <div class="container catalog-page">

   <div class="jumbotron">
      <h1>Welcome to <strong>Clan of Outdoorer<strong></h1>
      <p>Share your experiences and Find affordable equipments here</p>
      <a href="/catalog/all" class="btn btn-large btn-primary functional-text">Explore All Categories</a>
   </div>


   <div class="container no-lr-padding catalog-body">
      <div class="row text-center">
         {% for item in cata_items %}
            <h2>{{item.render() | safe}}</h2>
         {% endfor %}
      </div>
   </div>

   </div>

{% endblock%}